<div class="evaluate-main-container">
  <div class="evaluate-header-container cards-color">
    <h3 class="d-inline-block">Detalles de avalúo |</h3>
    <label>Avalúos -</label>
    <p class="d-inline-block">Kristin E. Murphy</p>
  </div>
  <div class="evaluate-vehicle-info-container row">
    <section class="vehicle-details-container cards-color col-3">
      <div class="vehicle-details-header text-center">
        <div class="details-header-image">
          <img src="../../../assets/images/vehicle.PNG" alt="vehicle image">
        </div>
        <h2>Hyundai Tucson</h2>
        <p class="fw-light">50,000 km</p>
      </div>
      <div class="vehicle-details-info">
        <button class="cards-color" type="button">Detalles del vehiculo 
          <label>
            <i class="bi bi-chevron-down"></i>
            <i class="bi bi-chevron-up d-none"></i>
          </label>
        </button>
      </div>
      <div class="vehicle-detail-container">
        <p>Año</p>
        <p>2020</p>
      </div>
      <div class="vehicle-detail-container">
        <p>Marca</p>
        <p>Hyundai</p>
      </div>
      <div class="vehicle-detail-container">
        <p>Modelo</p>
        <p>Tucson</p>
      </div>
      <div class="vehicle-detail-container">
        <p>Versión</p>
        <p>CZD 1/W</p>
      </div>
      <div class="vehicle-detail-container">
        <p>Dueños</p>
        <p>2</p>
      </div>
      <div class="vehicle-detail-container">
        <p>Tipo</p>
        <p>Hatchback</p>
      </div>
      <div class="vehicle-detail-container">
        <p>Transmisión</p>
        <p>Automática</p>
      </div>
      <div class="vehicle-detail-container">
        <p>Kilometraje</p>
        <p>50,000 km</p>
      </div>
    </section>
    <section class="general-description-container col-9">
      
    </section>
  </div>
</div>