.main-container{
  display: flex;
  .container-menu, .container-header{
    display: inline-block;
    vertical-align: top;
  }
  .container-menu{
    width: 16%;
  }
  .container-header{
    width: 84%;
  }
}