<div class="menu-main-container cards-color">
  <div class="menu-logo-container text-center">
    <img src="../../../assets/images/logo.PNG" alt="logo solana">
  </div>
  <div class="menu-list-container">
    <nav>
      <ul>
        <li>
          <i class="bi bi-calendar4-week"></i>
          <a routerLink="/calendar">Calendario</a>
        </li>
        <li routerLinkActive="active-menu">
          <i class="bi bi-journal-text"></i>
          <a routerLink="">Avalúos</a>
        </li>
      </ul>
    </nav>
  </div>
</div>